//mixin that center the content elements of a element 
@mixin flexCenter($direction){
    display: flex;
    padding: 1em 10px;
    flex-direction: $direction;
}

@mixin width100 {
    width: 100%;
}

@mixin colors-btn($color){
    background-color: map-get($state, $color);
}


@mixin centered{
	display: block;
	margin: 0 auto;
}

@mixin mq($break){
    @if $break == "small"{
		@media (min-width: map-get($breakpoints, $break)) and (max-width: map-get($breakpoints, medium)){
			@content;
		}
	}
	@else if $break == "medium"{
		@media (min-width: map-get($breakpoints, $break)){
			@content;
		}
	}
	@else if $break == "large" {
		@media (min-width: map-get($breakpoints, $break)){
			@content;
		}
	}
	@else {
		@error "Whoops, No value could be retriveved for `#{$break}`"
	}
}
