//mixin that center the content elements of a element 
@mixin flexCenter($direction){
    display: flex;
    padding: 1em 10px;
    flex-direction: $direction;
}

@mixin width100 {
    width: 100%;
}

@mixin colors-btn($color){
    background-color: map-get($state, $color);
}