.btn {
    @include width100;
    background-color: $secondary-color;
    border: none;
    color: $white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    text-transform: uppercase;
}

@each $i in $list-state {
    .#{$i} {
        background-color: map-get($state, $i);
    }
}