.btn {
    @include width100;
    background-color: $secondary-color;
    border: none;
    color: $white;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 15px;
    text-transform: uppercase;
    @include mq(medium){
        padding: 10px 30px;

        & + & {
            margin-left: 10px;
        }
    }
}

/**
 * This code block iterates over a Sass map variable called $state and generates CSS classes based on the keys and values of the map.
 * Each generated CSS class will have a background-color property set to the corresponding value from the map.
 *
 * Example usage:
 * $state: (
 *   primary: #007bff,
 *   secondary: #6c757d,
 *   success: #28a745,
 *   danger: #dc3545
 * );
 *
 * @each $key - The key of the current item in the $state map.
 * @each $value - The value of the current item in the $state map.
 */
@each $key, $value in $state {
    .#{$key} {
        background-color: $value;
    }
}