.form {
    flex-basis: 100%;
}

.input {
    display: block;
    position: relative;
    width: 95%;
    border: none;
    border-bottom: 5px solid $primary-color;
    padding: 7px;
    margin: 10px auto 0;
}

.hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}



