.container {
    padding: 0 10px;
    @include mq(medium){
        max-width: 1400px;
        @include centered;
    }
}

.centered {
    @include mq(medium){
        @include centered;
    }
}

.row{
    @include flexCenter(column);
    @include mq(medium){
        flex-direction: row;
    }
}

[class^=col]{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 100%;
    min-height: 25px;
    @include mq(medium){
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
        & + & {
            margin-left: 10px;
        }
    }
}


.theme {
    @each $col, $color in $themes {
        &#{$col} {
            background-color: $color;
        }
    }
}



@for $i from 1 through 12 {
    .col-#{$i} {
        @include mq(medium){
            flex-basis: flex-layout(12, $i);
        }
        
    }
}
