.container {
    padding: 0 10px;
    @include mq(medium){
        max-width: 1400px;
        @include centered;
    }
}


.row{
    @include flexCenter(column);
}

[class^=col-]{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 100%;
    min-height: 25px;
    @include mq(medium){

        & + & {
            margin-left: 10px;
        }
    }
}


.theme {
    @each $col, $color in $themes {
        &#{$col} {
            background-color: $color;
        }
    }
}

.centered {
    @include mq(medium){
        @include centered;
    }
}


