.img {
    &-avatar {
        @include centered;
        margin-top: 10px;
    }
    &-frame {
        @include centered;
        margin-top: 10px;
        border: 1px solid $second-text-color;
        padding: 13px;
        max-width: 100%;
    }
    &-logo{
        @include centered;
        @include mq(medium){
            margin-left: initial;
            margin-right: initial;
        }
    }
}