
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: "Lato", sans-serif;
  color: #777;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */


.headline-primary {
  color: $primary-color;
  margin-left: 10px
}

.headline-secondary {
  color: $text-color;
  font-weight: 300;
}

.link {
  font-weight: 700;
  color: $secondary-color
}

.blockquote {
  font-size: 1.5em;
  font-style: italic;
  border-left: 8px solid $primary-color;
  border-radius: 5px;
  padding-left: 20px;
  margin-left: 20px;
}