* {
  font-family: "Lato", sans-serif;
  color: #777;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.headline-primary {
    color: $primary-color;
    margin-left: 10px;
}


.link {
    color: $secondary-color;
    font-weight: 700;
}


.container {
    padding: 0 10px;
}